.inputbox{
    display: block;
    margin: 25px;
    padding: 7px;
    width: 300px;
    border:1px solid  teal;
    border-radius:5px;
  }
  
  .register{
    margin-left: 30%;
  }
  .login{
    margin-left: 30%;
    margin-top: 100px;
  }
  
  .appbutton{
    width: 150px;
    margin :25px;
    padding: 10px;
    width: 150px;
    background-color: teal;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
    border-radius:5px;
  }
  
